* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

html {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-text-size-adjust: 100%;
}

body {
  overscroll-behavior: none;
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  max-width: 100vw;
  touch-action: manipulation;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input, textarea {
  font-size: 16px !important; /* Prevents iOS zoom on focus */
}

/* Prevent text selection */
.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
